asgiref==3.8.1 ; python_version >= "3.10" and python_version < "4.0"
crispy-bootstrap5==2025.4 ; python_version >= "3.10" and python_version < "4.0"
django-crispy-forms==2.4 ; python_version >= "3.10" and python_version < "4.0"
django-environ==0.12.0 ; python_version >= "3.10" and python_version < "4.0"
django==5.2 ; python_version >= "3.10" and python_version < "4.0"
pillow==11.2.1 ; python_version >= "3.10" and python_version < "4.0"
psycopg-binary==3.2.6 ; python_version >= "3.10" and python_version < "4.0" and implementation_name != "pypy"
psycopg==3.2.6 ; python_version >= "3.10" and python_version < "4.0"
sqlparse==0.5.3 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.13.2 ; python_version >= "3.10" and python_version < "3.13"
tzdata==2025.2 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"
